DJANGO_SECRET_KEY=change-me
DEBUG=true
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=true
USE_SQLITE=false

POSTGRES_DB=basegrow_prod
POSTGRES_USER=basegrowuser
POSTGRES_PASSWORD=5114
POSTGRES_HOST=82.25.97.51
POSTGRES_PORT=5432

JWT_SECRET=your-secret-key

ONGAGE_ACCOUNT_CODE=
ONGAGE_USERNAME=
ONGAGE_PASSWORD=

GOOGLE_SPREADSHEET_URL=
